@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');



body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #FFF;
    overflow-x:hidden;
}
a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 2900px) 
{
    div.cabecera{
        width: 100%;
        clear: both;
        float: left;
        height: 500px;
        /*background-color: red;*/
        z-index: 9999;
        margin-top: 75px;
        background-image: url(../img/cabecera.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
    img.img_cabecera{
        width: 100%;
        text-align: center;
    }
    div.separador {
        float: left;
        width: 100px;
        height: 60px;
        border-right: 2px solid #000;
        margin-top: 0px;

    }
    div.logo_cabecera{
        width: 100%;
        clear: both;
        float: left;
        height: 150px;
        /*background-color: red;*/
        z-index: 9999;
        margin-top: 30px;
        background-image: url(../img/tienda_logo.png);
        background-size: 10%;
        background-repeat: no-repeat;
        background-position: center;
    }
    div.titulo_cabecera{
        width: 100%;
        clear: both;
        float: left;
        height: 150px;
        /*background-color: red;*/
        z-index: 9999;
        margin-top: 0px;
        background-image: url(../img/tienda_titulo.svg);
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: center;
    }
    div.tiendaPC{
        display: block;
        width: 100%;
        float: left;
    }
    div.tiendaMovil{
        display: none;
    }
    .contenedorProducto1 {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto2
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto3
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    } 
    .contenedorProducto4
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto5
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto6
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto7
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto8
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto9
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
    .contenedorProducto10
    {
        width: 90%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }


    div.contenedorProducto:before{
        /*content: '';*/
        display: block;
    }

    .ratio2-1:before {padding-top: 30%;
    }
    div.prodImgIzquierda{
        float: left;
        width: 31.5%;
        height: 100%;
        /*background-color: blue;*/
    }
    img.img_producto{
        width: 100%;
    }
    div.infoProducto{
        width: 36%;
        /*background-color: gray;*/
        float: left;
        padding-top: 2%;

    }
    div.descripcion_producto{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-top: 10%;
    }
    p.tituloProducto{
        font-weight: 600;
        font-size: 18px;
    }
    p.leyendaProducto{
        font-size: 14px;
    }
    div.tipoColor{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        width: 90%;
        margin: 0 auto;    
        padding-bottom: 10%;    
    }
    li.color{
        margin: 5px;
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    li.Rosa{
        background-color: rgb(255,132,172);
    }
    li.Rosa:hover{
        background-color: rgba(255,132,172,0.5);
    }

    li.Azul{
        background-color: rgb(0,85,159);
    }
    li.Azul:hover{
        background-color: rgba(0,85,159,0.5);
    }

    li.Morado{
        background-color: rgb(168,0,198);
    }
    li.Morado:hover{
        background-color: rgba(168,0,198,0.5);
    }

    li.Verde{
        background-color: rgb(131,147,57);
    }
    li.Verde:hover{
        background-color: rgba(131,147,57,0.5);
    }
    li.Negro{
        background-color: rgb(0,0,0);
    }
    li.Negro:hover{
        background-color: rgba(0,0,0,0.5);
    }
    li.Gris{
        background-color: rgb(187,187,187);
    }
    li.Gris:hover{
        background-color: rgba(187,187,187,0.5);
    }
    li.Cafe{
        background-color: rgb(191,135,109);
    }
    li.Cafe:hover{
        background-color: rgba(191,135,109,0.5);
    }
    li.Rojo{
        background-color: rgb(255,0,0);
    }
    li.Rojo:hover{
        background-color: rgba(255,0,0,0.5);
    }
    li.NegroRosa{
        background-color: rgb(255,73,235);
        border-color: #000;
    }
    li.NegroRosa:hover{
        background-color: rgba(255,73,235,0.5);
        border-color: rgba(0,0,0,0.5);
    }

    .doblecolor{
        margin: 5px;
        float: left;
        height: 20px;
        border-right: 10px solid;
        border-radius: 50%;
        width: 10px;
    }

    div.talla{
        width: 90%;
        height: 50px;
        margin: 0 auto;
    }
    div.precioProducto{
        font-family: 'Montserrat', sans-serif; 
        width: 90%;
        margin: 0 auto; 
        background-color: red;
    }
    div.precio{
        font-weight: 600;
        float: left;
        padding-top: 4%;
        width: 50%;
    }
    div.btnAgrega{
        float: left;
        width: 50%;
        text-align: right;
    }
    div.prodImgDerecha{
        float: left;
        width: 31.5%;

    }

    button.btnAgregar{
        background-color: #6fc8b7;
        display: inline-block;
        border-radius: 2px;
        border: none;
        height: 40px;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        color: white;
        width: 100%;
    }

    button.btnAgregar:hover{
        background-color: #5fafa0;
    }

    div.prodImgCentro{
        float: left;
        width: 31.5%;
    }

    .radio-group{
        position: relative;
    }

    .radio{
        display:inline-block;
        width:15px;
        height: 15px;
        border-radius: 100%;
        background-color:#fff;
        border: 1px solid lightblue;
        cursor:pointer;
        margin: 2px 0; 
    }

    .radio.selected{
        border-color: #000;
        background-color: #6fc8b7;
    }

    div.tallaTxt{
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        width: 15%;
        float: left;
        color: #bbb;
        cursor:pointer;
    }
    div.selectedTalla{
        font-family: 'Montserrat', sans-serif; 
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        width: 15%;
        float: left;
        color: #000;
        cursor:pointer;
    }
}

@media only screen and (max-width: 1090px) {

    .contenedorProducto1,
    .contenedorProducto2,
    .contenedorProducto3,
    .contenedorProducto4,
    .contenedorProducto5,
    .contenedorProducto6,
    .contenedorProducto7,
    .contenedorProducto8,
    .contenedorProducto9,
    .contenedorProducto10 {
        width: 100%;
        clear: both;
        margin: 0 auto;
        position: relative;
        /*background-color: green;*/
    }
}

@media only screen and (max-width: 960px) {
    div.cabecera {
        height: 440px;
    }
    div.logo_cabecera {
        height: 100px;
    }
    div.titulo_cabecera {
        height: 126px;
    }
    .prodImgIzquierda,
    .prodImgCentro{
        display: none;
    }

    .contenedorProducto1,
    .contenedorProducto2,
    .contenedorProducto3,
    .contenedorProducto4,
    .contenedorProducto5,
    .contenedorProducto6,
    .contenedorProducto7,
    .contenedorProducto8,
    .contenedorProducto9,
    .contenedorProducto10 {
        width: 80%;
        /*background-color: green;*/
    }
    div.infoProducto,
    div.prodImgDerecha{
        width: 50%;
    }
}
@media only screen and (max-width: 915px) {
    div.cabecera {
        margin-top: 40px;
        height: 400px;
    }
    @media only screen and (max-width: 780px) {
        div.cabecera {
            height: 330px;
        }
        div.descripcion_producto{
            margin-top: 5%;
        }
        .contenedorProducto1,
        .contenedorProducto2,
        .contenedorProducto3,
        .contenedorProducto4,
        .contenedorProducto5,
        .contenedorProducto6,
        .contenedorProducto7,
        .contenedorProducto8,
        .contenedorProducto9,
        .contenedorProducto10 {
            width: 90%;
        }
    }


    @media only screen and (max-width: 670px) {
        div.logo_cabecera {
            height: 70px;
        }
        div.titulo_cabecera {
            background-size: 30%;
        }
        p.tituloProducto{
            font-size: 15px;
        }
        p.leyendaProducto {
            font-size: 12px;
        }
        div.precio {
            font-size: 14px;
        }

        button.btnAgregar {
            height: 31px;
            width: 80%;
        }
        div.tallaTxt {
            font-size: 14px;
            margin-top: 4%;
            width: 23%;
        }
        div.tipoColor {
            font-size: 14px;
        }
        div.talla{
            clear: both;
        }
    }

    @media only screen and (max-width: 580px) {
        div.cabecera {
            height: 250px;
            margin-top: 0px;
        }
        .contenedorProducto1,
        .contenedorProducto2, 
        .contenedorProducto3, 
        .contenedorProducto4, 
        .contenedorProducto5,
        .contenedorProducto6,
        .contenedorProducto7,
        .contenedorProducto8,
        .contenedorProducto9,
        .contenedorProducto10 {
            width: 99%;

        }
    }

    @media only screen and (max-width: 550px) {
        div.separador {
            height: 40px;
        }
        img.img_redes {
            width: 25px;

        }
        div.titulo_cabecera {
            height: 95px;
        }
        div.logo_cabecera {
            background-size: 12%;
        }
        div.infoProducto{
            width: 55%;
        }

        div.prodImgDerecha {
            width: 45%;
        }
    }

    @media only screen and (max-width: 550px) {

        .contenedorProducto1,
        .contenedorProducto2, 
        .contenedorProducto3, 
        .contenedorProducto4, 
        .contenedorProducto5,
        .contenedorProducto6,
        .contenedorProducto7,
        .contenedorProducto8,
        .contenedorProducto9,
        .contenedorProducto10 {
            width: 100%;

        }
        div.infoProducto{
            width: 100%;
        }

        div.prodImgDerecha {
            width: 100%;
        }

    }

    @media only screen and (max-width: 500px) {
        div.tiendaMovil
        {
            display: block;
        }
        div.tiendaPC{
            display: none;
        }
        div.tipoColor {
         padding-bottom: 0%;
     }
     div.talla {
        height: 40px;
    }
    div.tipoColor {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        width: 50%;
        margin-left: 5%;
    }
    div.talla {
        clear: none;
        width: 50%;
        margin-left: 5%;
        float: left;
    }
    div.tipoColor {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        width: 35%;
        float: left;
        margin-left: 5%;
    }
    div.tallaTxt {
        margin-top: 9%;
    }

    div.precioProducto {
        clear: both;

    }
    .contenedorProducto2,
    .contenedorProducto3,
    .contenedorProducto4,
    .contenedorProducto5,
    .contenedorProducto6,
    .contenedorProducto7,
    .contenedorProducto8,
    .contenedorProducto9,
    .contenedorProducto10 {
        width: 100%;
        padding-top: 5%;
    }
    div.infoProducto{
        padding-top: 0%;
    }
    div.descripcion_producto {
        margin-top: 0%;
    }

}

@media only screen and (max-width: 450px) {
    div.cabecera {
        height: 195px;

    }
    div.logos {
        margin-top: -7px;
    }
    div.logo_cabecera {
        background-size: 15%;
        margin-top: 10px;
    }
    div.titulo_cabecera {
        background-size: 35%;
    }
    div.tipoColor {
        width: 40%;
    }
}

@media only screen and (max-width: 375px) {
    div.infoProducto {
        width: 97%;
        margin: 0 auto;
        float: none;
    }

    div.talla {
        clear: none;
        width: 45%;
    }
    div.tipoColor {
        width: 45%;
    }
    div.cabecera {
        height: 170px;
    }
    div.logo_cabecera {
        margin-top: 10px;
    }
    div.titulo_cabecera {
        background-size: 50%;
    }
}
